<div class="text-center col-md-8 col-md-offset-3 index">
    <h1 class='h1'>Welcome to HappyHours</h1>
    <h3 class='h3'>Lets Get Happy:</h3>
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/signup" class="btn btn-default">Signup</a>


</div>
