<div class="page-header">



    <a href="/logout" class="btn btn-default btn-sm">Logout</a>

</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">



            <p>
                <strong>Name</strong>: <%= user.local.name %><br>
                <!-- <strong>id</strong>: <%= user._id %><br> -->
                <strong>email</strong>: <%= user.local.email %><br>
                <!-- <strong>password</strong>: <%= user.local.password %> -->
            </p>
            <form class="" action="/api/tweets" method="get">
              <input type="text" name="city" placeholder="city"></input>
              <button class="submitBtn"type="submit" name="button">Search</button>
            </form>

            <div id="tList">
              <ul id="tweet-list">
                <button class="favBtn" type="submit" name="favbutton" name="favbutton">Fav</button>
              </ul>
            </div>

            <div>
              <ul id="fav-list">
                <button class="delBtn" type="delete" name="delbutton">X</button>
              </ul>
            </div>

            <script type="text/javascript">
              var $submitBtn = $('.submitBtn')
              var $tweetList = $('#tweet-list')
              var $favList = $('#fav-list')
              var $input = $('input')
              var $favBtn = $('.favBtn')
              $submitBtn.on('click', function(evt){
                var city = $input.val()
                evt.preventDefault()
                //make an ajax call to api/tweets using .get method
                $.ajax({
                  type: 'GET',
                  url: 'api/tweets',
                  data: {city},
                  contentType: 'application/json',
                  success: function (data){
                    //when data from ajax call comes back console.log it first.
                    console.log(data)
                    //empty the tweetlist.
                    $tweetList.empty()

                    var tweets = data.data.statuses
                    tweets.forEach(function(tweet) {
                      var $tweet = $('<li>').text(tweet.text)
                      $tweetList.append($tweet)
                    })
                  }
                });
                    console.log("clicked")
              })

              var $favBtn = $('.favBtn')
              var $favList = $('#fav-list')
              $favBtn.on('click', function(evt){
                evt.preventDefault()
                $favList.forEach(function($tweet) {
                  var $tweet = $('<li>').text(tweet.text)
                  $favList.append($tweet)
                })
              })

            </script>
        </div>
    </div>
</div>
